* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

.container {
  display: grid;
  grid-gap: 0.4em;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  background-image: url(./pictures/background/wood.svg);
  background-size: cover;
}

.sign {
  background-image: url(./pictures/background/wood.svg);
  background-size: cover;
}

.grid-item {
  border: 3px solid rgb(117, 31, 31);
  display: grid;
  place-items: center;
  width: 100%;
  height: min-content;
}
.gridSpecial {
  background-color: transparent;
}
.gridSpecialTwo {
  background-color: transparent;
}
.gridSpecialThre {
  background-color: transparent;
}
.gridImg {
  width: 30px;
}
.wegetables,
.worm {
  width: 100%;
  aspect-ratio: 1;
}
.wining,
.lost {
  background-image: url(./pictures/background/wood2.svg);
}
.imgSpan,
.imgSpanWorm {
  width: 100%;
  aspect-ratio: 1;
}

.leaderboardDiv,
.staisicMath,
.rulesDiv {
  position: absolute;
  width: 110%;
  height: 100%;
  background-image: url(./pictures/background/wood.svg);
  background-size: cover;
  transform: translate(-5%, -100%);
  z-index: 10;
  display: none;
  flex-direction: column;
  align-items: center;
  border: 4px solid black;
  border-radius: 20px;
}
.rulesDiv {
  justify-content: space-between;
}

/*ANIMATION CLASS*/
.carotMoveOne {
  animation: carrot 5s forwards;
}
.carotMoveTwo {
  animation: carrotTwo 3s forwards;
  transform-origin: center;
  transform-box: fill-box;
}
.carotMoveThre {
  animation: carrotThre 2s forwards;
  transform-origin: center;
  transform-box: fill-box;
}
.carotMoveFour {
  animation: carrotFour 2s forwards;
  transform-origin: center;
  transform-box: fill-box;
}
.leadybirdOne {
  animation: leadybirdOne 3s linear;
}
.leadybirdTwo {
  animation: leadybirdTwo 3s linear;
}
.fadeIn {
  animation: fadeIn 500ms forwards;
}
.fadeOut {
  animation: fadeOut 2s forwards;
}
.falling {
  animation: drop 1s forwards;
}
.rotateWorm {
  animation: rotate 0.8s forwards linear;
}
.showItem {
  animation: showWorm 0.3s forwards linear;
}
@keyframes drop {
  0% {
    transform: translateY(0);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translateY(300px);
    opacity: 0;
    pointer-events: none;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(720deg);
    opacity: 0;
    scale: 0.4;
  }
}
@keyframes showWorm {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
@keyframes carrot {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  75% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes carrotTwo {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(7deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes carrotThre {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-7deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes carrotFour {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes leadybirdOne {
  0% {
    transform: translate(0, 0) rotate(-50deg);
  }
  40% {
    transform: translate(120px, -50px) rotate(40deg);
  }
  70% {
    transform: translate(200px, 50px) rotate(50deg);
  }
  100% {
    transform: translate(300px, 200px) rotate(70deg);
  }
}
@keyframes leadybirdTwo {
  0% {
    transform: translate(406px, 160px);
  }
  40% {
    transform: translate(506px, 50px) rotate(-20deg);
  }
  70% {
    transform: translate(700px, 50px) rotate(30deg);
  }
  100% {
    transform: translate(850px, 170px) rotate(50deg);
  }
}

@media (width < 700px) {
  body {
    overflow: auto;
    margin-top: 100px;
  }
  .board {
    display: flex;
    flex-direction: column;
    height: min-content;
    gap: 15px;
  }
  #farmer {
    display: none;
    height: 0;
  }
  .farmer {
    height: min-content;
  }
  #carrotInHand {
    display: none;
  }

  .sign {
    position: relative;
    transform: translate(0, 0);
    width: 100%;
  }
  #buttons {
    justify-content: center;
  }
}
