* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
  padding: 40px 40px 20px 40px;
  background-image: url(./pictures/background/1546253828.svg);
  background-size: cover;
  background-position: 50% 70%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main {
  position: relative;
  user-select: none;
}
h1 {
  color: aliceblue;
  text-shadow: 0px 0px 3px rgba(66, 68, 90, 1);
}
.board {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.container {
  width: 500px;
  aspect-ratio: 1;
  display: grid;
  grid-gap: 0.4em;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  background-image: url(./pictures/background/wood.svg);
  background-size: cover;
  padding: 30px;
  border-radius: 20px;
  overflow: hidden;
  border: 4px solid black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.farmer img,
.farmer {
  position: relative;
  height: 500px;
  z-index: 4;
}
.sign {
  position: absolute;
  width: 36%;
  height: 44%;
  background-image: url(./pictures/background/wood.svg);
  background-size: cover;
  padding: 15px;
  z-index: 5;
  transform: translate(40%, 128%);
  border: 4px solid black;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#inputValue {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: 3px solid black;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#inputValue::placeholder {
  color: lightgray; /* Zmień na dowolny kolor */
}
.quest {
  display: grid;
  place-content: center;
  gap: 10px;
}
.questionP {
  display: grid;
  place-content: center;
  text-align: center;
  color: #ddd;
  font-weight: 600;
  font-size: 18px;
  min-height: 60px;
}
#submit {
  background-color: white;
  padding: 6px;
  margin-top: 6px;
  border-radius: 6px;
  border: 3px solid black;
  font-weight: 600;
}

.subtext {
  color: aliceblue;
  font-size: 22px;
  margin-bottom: 10px;
  text-shadow: 0px 0px 3px rgba(66, 68, 90, 1);
}
.grid-item {
  border: 3px solid rgb(117, 31, 31);
  display: grid;
  place-items: center;
  width: 100%;
  height: min-content;
}
.gridSpecial {
  background-color: red;
}
.gridSpecialTwo {
  background-color: green;
}
.gridSpecialThre {
  background-color: blue;
}
.gridImg {
  width: 30px;
}
.wegetables,
.worm {
  width: 100%;
  aspect-ratio: 1;
}
.wining,
.lost {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#winText,
#lostText {
  color: red;
  font-size: 40px;
  font-weight: bolder;
}
.imgSpan,
.imgSpanWorm {
  width: 100%;
  aspect-ratio: 1;
}
#buttons {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 20px;
  margin-top: 20px;
}
#leaderboard,
#rules {
  background-color: #96642c;
  border-radius: 5px;
  padding: 6px 10px;
  color: lightgray;
  border: 3px solid black;
}
.leaderboardDiv {
  position: absolute;
  width: 110%;
  height: 100%;
  background-color: #4f772d;
  transform: translate(-5%, -100%);
  z-index: 10;
  display: none;
  flex-direction: column;
  align-items: center;
  border: 4px solid black;
  border-radius: 20px;
}
#titleResolut {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 1.5px;
}
#emptyResolut {
  padding-bottom: 40px;
  font-size: 30px;
}
.stats {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.show {
  display: flex;
}
.newContent {
  background-color: #ddd;
  width: 100%;
  height: fit-content;
  padding: 20px;
}
#farmer {
  width: 100%;
  height: 100%;
}
#carrotInHand {
  position: absolute;
  top: 17%;
  left: 3%;
  height: min-content;
  width: 20%;
}
.carotMoveOne {
  animation: carrot 5s forwards;
}
.carotMoveTwo {
  animation: carrotTwo 3s forwards;
  transform-origin: center;
  transform-box: fill-box;
}
.carotMoveThre {
  animation: carrotThre 2s forwards;
  transform-origin: center;
  transform-box: fill-box;
}
.carotMoveFour {
  animation: carrotFour 2s forwards;
  transform-origin: center;
  transform-box: fill-box;
}
/*ANIMATION CLASS*/

.falling {
  animation: drop 1s forwards;
}
.rotateWorm {
  animation: rotate 0.8s forwards linear;
}
.showItem {
  animation: showWorm 0.3s forwards linear;
}
@keyframes drop {
  0% {
    transform: translateY(0);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translateY(300px);
    opacity: 0;
    pointer-events: none;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(720deg);
    opacity: 0;
    scale: 0.4;
  }
}
@keyframes showWorm {
  0% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
@keyframes carrot {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  75% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes carrotTwo {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(7deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes carrotThre {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-7deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes carrotFour {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
