* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
  padding: 40px;
  background-image: url(./pictures/background/1546253828.svg);
  background-size: cover;
  background-position: 50% 70%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.board {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.container {
  width: 500px;
  aspect-ratio: 1;
  display: grid;
  grid-gap: 0.4em;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 30px;
}
.farmer img,
.farmer {
  height: 500px;
}
h1 {
  color: aliceblue;
}
.subtext {
  color: aliceblue;
  font-size: 22px;
}
.grid-item {
  padding: 1em;
  border: 1px solid #ddd;
  text-align: center;
}

/*SPECIAL CLASS*/

.gridSpecial {
  background-color: red;
}
.gridSpecialTwo {
  background-color: green;
}
.gridSpecialThre {
  background-color: blue;
}
.gridImg {
  width: 30px;
}

.wegetables {
  width: 50px;
  aspect-ratio: 1;
}
